body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
}

.container {
    width: 450px;
    background: white;
    margin: 80px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
}

h1 {
    color: #222;
    margin-bottom: 10px;
}

.subtitle {
    color: #666;
    margin-bottom: 25px;
}

input {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
}

button {
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    background-color: #2563eb;
    color: white;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #1d4ed8;
}

.result {
    margin-top: 25px;
    font-weight: bold;
    font-size: 18px;
}
.confidence {
    color: #555;
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
}